<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="style.css"
    />
    <title>Wallet - Últimos Movimientos</title>
  </head>
  <body>
    <div class="container">
      <h2>Últimos Movimientos</h2>
      <ul class="list-group">
        <li class="list-group-item">Compra en línea - $50.000</li>
        <li class="list-group-item">Depósito -$100.000</li>
        <li class="list-group-item">Transferencia recibida - $75.00</li>
        <li class="list-group-item">Compra en línea - $5.550</li>
        <li class="list-group-item">Depósito misma cuenta - $10.500</li>
        <li class="list-group-item">Transferencia recibida - $7.575</li>
      </ul>
      <a
        href="../menu/menu.html"
        class="btn btn-secondary"
        >Volver al menú Principal</a
      >
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
